*{
  padding: 0;
  margin: 0;
}
/*General code*/
nav{
  grid-area: navbar;
  background-color:rgb(66, 66, 151);
}
aside{
  grid-area: aside;
  background-color:rgb(234, 234, 244);
}
main{
  grid-area: main;
  background-color:rgb(234, 234, 244);
}
footer{
  grid-area: footer;
  background-color:rgb(66, 66, 151);
}
.grid_main{
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas: "navbar navbar" "aside main" "footer footer";
  grid-template-columns: 15% 85%;
  grid-template-rows: 8% 87% 5%;
}
/*Navbar code*/
.element1{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.element1 h1{
  font-style:italic;
  font-size: 30px;
}
/*Aside code*/
.element2{
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-top: 10%;
  padding-right: 10%;
}
.element2 h5{
  margin-bottom: 10%;
  font-size: 20px;
}
.element2 p {
  margin-top: 5%;
  margin-bottom: 5%;
}
.element2 a{
  text-decoration: none;
  color: rgb(88, 88, 88);
}
/*Main code*/
.element3{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows:49% 49%;
  column-gap: 4%;
  row-gap: 2%;
}
.element3 div{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
}
.element3 img{
  width: 80%;
  height: 75%;
}
.element3 button{
  width: 75%;
  height: 10%;
  background-color:rgb(66, 66, 151);
  color: white;
}
.element3 a{
  text-decoration: none;
  color: white;
}
/*footer code*/
.element4{
  display: flex;
  justify-content: center;
  align-items: center;
}
.element4 h4{
  font-style:italic;
  font-size: 20px;
}
.element4 a{
  color: white;
  text-decoration: none;
}